@import './setup-box-sizing.css';
@import '../pages/start-page.css';
@import '../pages/jazz-club.css';
@import '../pages/club-popfesten.css';
@import '../pages/create-event.css';

body {
  margin: 0;

}

header {
  background-color: black;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 12px 0;
  /* lägger lite luft ovanför och under länkarna */
  position: fixed;
  z-index: 1001;

}

nav {
  display: flex;
  justify-content: space-evenly;
  /* sprider länkarna */
  align-items: center;
  height: 100%;
}

nav a {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  /* Gör att länkarna ser ut som knappar */
  border: 2px solid white;
  padding: 6px 12px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  /* lite transparens */
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: white;
  color: black;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.4);
  /* ljusare skugga vid hover */
  transform: translateY(-2px);
  /* lyfter knappen lite */
}